Repository giampaolo/psutil, pull requests merged in 2019-04, with the labels that each got.

#1477 [Win] return value is not properly handled for undocumented NT* Windows APIs.
  HISTORY.rst
  psutil/_psutil_common.c
  psutil/_psutil_windows.c
  psutil/arch/windows/global.c
  psutil/arch/windows/global.h
  psutil/arch/windows/ntextapi.h
  psutil/arch/windows/process_handles.c
  psutil/arch/windows/process_info.c
  psutil/tests/test_contracts.py
Labels: bug, windows

#1479 [Win] Process IO priority constants + high priority
  HISTORY.rst
  docs/index.rst
  psutil/__init__.py
  psutil/_psutil_windows.c
  psutil/_pswindows.py
  psutil/tests/test_process.py
Labels: enhancement, windows

#1487 Update cpu_freq to return 0 for max/min if not available
  CREDITS
  HISTORY.rst
  psutil/_pslinux.py
  psutil/tests/test_linux.py
Labels: bug, linux
