Repository giampaolo/psutil, pull requests merged in 2020-12, with the labels that each got.

#1886 [macOS] EIO error occurring on cmdline() and environ
  HISTORY.rst
  psutil/arch/osx/process_info.c
Labels: bug, macos

#1887 [Windows] #1877: turn OpenProcess -> ERROR_SUCCESS into AD or NSP
  HISTORY.rst
  psutil/_psutil_bsd.c
  psutil/_psutil_common.c
  psutil/_psutil_osx.c
  psutil/_psutil_windows.c
  psutil/arch/freebsd/specific.c
  psutil/arch/netbsd/specific.c
  psutil/arch/osx/process_info.c
  psutil/arch/windows/process_info.c
  psutil/arch/windows/process_utils.c
  psutil/arch/windows/process_utils.h
  psutil/tests/test_contracts.py
  scripts/procsmem.py
Labels: bug, windows

#1888 [Windows] giveup with AD for all NtWow64 API calls (query 64-bit process from 32-bit)
  HISTORY.rst
  psutil/arch/windows/process_info.c
Labels: api, bug, windows

#1891 [macOS, UNIX] prefer _SC_PAGESIZE over (partially) deprecated getpagesize()
  psutil/_psaix.py
  psutil/_psbsd.py
  psutil/_pslinux.py
  psutil/_psosx.py
  psutil/_pssunos.py
  psutil/_psutil_aix.c
  psutil/_psutil_bsd.c
  psutil/_psutil_osx.c
  psutil/_psutil_posix.c
  psutil/_psutil_posix.h
  psutil/arch/freebsd/specific.c
  psutil/arch/netbsd/specific.c
  psutil/arch/openbsd/specific.c
  psutil/tests/test_bsd.py
  psutil/tests/test_osx.py
  psutil/tests/test_posix.py
  psutil/tests/test_system.py
Labels: bug, macos, unix

#1822 Don't duplicate coretemp sensor readings
  psutil/_pslinux.py
Labels: linux

#1895 #1892 fix cpu_freq() broken on Apple M1
  HISTORY.rst
  psutil/_psutil_osx.c
Labels: bug, macos
